h2 {
	color: black;
	font-family: Ubuntu;
	margin: 3em auto;
	text-align: center;
	padding: 1em;
	width: 5em;
	border-radius: .5em;
	opacity: .9;
	text-decoration: none;
}

#Twitter {
	background-color: #0eb3f9;
}
