a {
	text-decoration: none;
}

h2 {
	color: white;
	font-family: Ubuntu;
	text-align: center;
	padding: 1em;
	width: 100%
}

#Twitter {
	background-color: #0eb3f9;
}

#Instagram {
	background-color: #0267e2;
}

img {
	width: 100%;
}
