a {
	color: white;
	font-family: Ubuntu;
	text-align: center;
	padding: 1em;
	width: 5em;
	border-radius: .5em;
	opacity: .9;
	text-decoration: none;
	margin: 3em auto;
}

#Twitter {
	background-color: #0eb3f9;
}

#Instagram {
	background-color: #0267e2;
}

img {
	width: 7em;
	border-radius: 1em;
}
